body {
	background-image: url("assets/theme/images/background.jpg");
}

.footer {
background-color: black;
padding:0;
margin:0;
}
.navbar {
    opacity:0.8;
}
.logo {
		margin:0;
		padding:10px;
		float:center; 
		width:auto;
		}	

hr.onepixel {
    border-top: 1px solid #afbcc6;
    border-bottom: 1px solid #eff2f6;
    height: 1px;
    margin:0 0 10px 0;
}
		
h1 {
	margin:0; 
	padding:0;
	color:#1ab8c5; 
	font:normal 60px/1.2em Arial, Helvetica, sans-serif; 
	letter-spacing:3px;
	}
	
h1 small {
		margin: 0;
		display:block; 
		padding:0; 
		font:normal 12px/1.2em Arial, Helvetica, sans-serif; 
		color:#9d0404; 
		letter-spacing:auto;
		}
		
h1 span { 
		-webkit-animation-name: test;
		-webkit-animation-duration: 10s; 
		-webkit-animation-iteration-count: 10;
		animation-name: test;
		animation-duration: 10s;
		animation-iteration-count: 10;
		color:#e10303;
		}

h1 a, h1 a:hover {
				-webkit-animation-name: example;
				-webkit-animation-duration: 10s; 
				-webkit-animation-iteration-count: 10;
				animation-name: example;
				animation-duration: 10s;
				animation-iteration-count: 10;
				color:#1ab8c5; 
				text-decoration:none;
			}
			
@-webkit-keyframes test {
    0%  {color:black; left:0px; top:0px;}
    25%  {color:#1ab8c5; left:200px; top:0px;}
    50%  {color:yellow; left:200px; top:200px;}
    75%  {color:gray; left:0px; top:200px;}
    100% {color:green; left:0px; top:0px;}
}
@keyframes test {
    0%  {color:black; left:0px; top:0px;}
    25%  {color:#1ab8c5; left:200px; top:0px;}
    50%  {color:yellow; left:200px; top:200px;}
    75%  {color:gray; left:0px; top:200px;}
    100% {color:green; left:0px; top:0px;}
}
				
@-webkit-keyframes example {
    0%  {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:#1ab8c5; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
}
@keyframes example {
    0%  {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:#1ab8c5; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
}

