@import url("reset.css") screen;

@import url("animation.css") screen;


/* Common */

html, body {
	
	background:#eaeaea url(../img/bg.png) repeat;
	
	font-size:12px;
	
	font-family:"Open Sans", serif;
	
	min-width:960px;

	margin:0;

	padding:0;
	
	color:#aaa;

	}



.content h1 {

	font-size:48px;
	
	color:#000;
	
	text-shadow:0px 1px 1px #f4f4f4;
	
	text-align:center;
	
	padding:60px 0 30px;	

	}



/* LAYOUT */

.kedi1 {
	
	margin:0 auto;

	overflow:hidden;
	
	width:960px;
	
}



/* CONTENT SLIDER */

#content-slider {
	
	width:100%;

	height:360px;

	margin:10px auto 0;
	
}


/* SLIDER */

#slider {

	background:#000;

	border:5px solid #eaeaea;

	box-shadow:1px 1px 5px rgba(0,0,0,0.7);

	height:320px;

	width:680px;

	margin:40px auto 0;

	overflow:visible;

	position:relative;

	}


#mask {

	overflow:hidden;

	height:320px;

	}


#slider ul {

	margin:0;

	padding:0;

	position:relative;

	}

#slider li {

	width:680px;

	height:320px;

	position:absolute;

	top:-325px;

	list-style:none;

	}


#slider li.firstanimation {

	-moz-animation:cycle 25s linear infinite;
	
-webkit-animation:cycle 25s linear infinite;
	
}

#slider li.secondanimation {

	-moz-animation:cycletwo 25s linear infinite;

	-webkit-animation:cycletwo 25s linear infinite;
	
}

#slider li.thirdanimation {

	-moz-animation:cyclethree 25s linear infinite;

	-webkit-animation:cyclethree 25s linear infinite;
	
}

#slider li.fourthanimation {

	-moz-animation:cyclefour 25s linear infinite;

	-webkit-animation:cyclefour 25s linear infinite;
	
}

#slider li.fifthanimation {

	-moz-animation:cyclefive 25s linear infinite;

	-webkit-animation:cyclefive 25s linear infinite;
	
}


#slider .tooltip {

	background:rgba(0,0,0,0.7);

	width:300px;

	height:60px;

	position:relative;

	bottom:75px;

	left:-320px;

	-moz-transition:all 0.3s ease-in-out;

	-webkit-transition:all 0.3s ease-in-out;
 	 
}

#slider .tooltip h1 {

	color:#fff;

	font-size:24px;

	font-weight:300;

	line-height:60px;

	padding:0 0 0 20px;

	}

#slider li#first:hover 
.tooltip, 
#slider li#second:hover 
.tooltip, 
#slider li#third:hover 
.tooltip, 
#slider li#fourth:hover 
.tooltip, 
#slider li#fifth:hover 
.tooltip {
left:0px;}

#slider:hover li, 
#slider:hover 
.progress-bar {
	
	-moz-animation-play-state:paused;

	-webkit-animation-play-state:paused;
	
}



/* PROGRESS BAR */

.progress-bar {
 
	position:relative;

	top:-5px;

	width:680px;
 
	height:5px;

	background:#000;

	-moz-animation:fullexpand 25s ease-out infinite;

	-webkit-animation:fullexpand 25s ease-out infinite;

	}

body {
	margin:0;
	padding:0; 
	width:100%; 
	color:#959595; 
	font:normal 
	12px/1.8em Arial, Helvetica, sans-serif; 
	background-image: url(); 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	height: 100%;
	}
	
html, .main { padding:0; margin:0;}
.main { }
.clr {
	 clear:both; 
	 padding:0; 
	 margin:0; 
	 width:100%; 
	 font-size:0px; 
	 line-height:0px;
	 }

.garis { 
	padding:20;
	float: center;
	margin:0;
	width: auto;
	color:#020202;
	}
	 
.logo {
		margin:0;
		margin-top:30px;
		border-radius: 15px 50px;
		padding:10px;
		border: 5px solid #d36293;
		background-color: #edefff;
		float:left; 
		width:auto;
		}	

h1 {
	margin:0; 
	padding:0; 
	color:#1ab8c5; 
	font:normal 42px/1.2em Arial, Helvetica, sans-serif; 
	letter-spacing:-3px;
	}
h1 span { 
		-webkit-animation-name: test;
		-webkit-animation-duration: 10s; 
		-webkit-animation-iteration-count: 10;
		animation-name: test;
		animation-duration: 10s;
		animation-iteration-count: 10;
		color:#e10303;
		}
h1 a, h1 a:hover {
				-webkit-animation-name: example;
				-webkit-animation-duration: 10s; 
				-webkit-animation-iteration-count: 10;
				animation-name: example;
				animation-duration: 10s;
				animation-iteration-count: 10;
				color:#1ab8c5; 
				text-decoration:none;
			}
h1 small {
		display:block; 
		padding-left:10px; 
		font:normal 12px/1.2em Arial, Helvetica, sans-serif; 
		color:#030303; 
		letter-spacing:normal;
		}
h2 {
	font:normal 24px/1.5em Arial, Helvetica, sans-serif; 
	padding:8px 0; 
	margin:8px 0; 
	color:#323a3f;
	}
p { 
	margin:8px 0; 
	padding:0 0 8px 0; 
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	}
p.spec { text-align:left;}
a { 
	color:#20bac6; 
	text-decoration:underline;
	}
a.com { }

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}

/* header */
.header { }
.header_resize { margin:0 auto; padding:16px 40px 16px 0; width:950px; height:150px;}

/* menu */
.kedi{
		height:25px;
		width:1300px;
		position:fixed;
		background-color:black;
		opacity: 0.8;
		float: right;
}
.kedi ul {list-style:none;}
.kedi ul li{
		margin:0 24px 0 0;
		padding:3px;
		float: right;
}
.kedi ul li a { 
				display:block;	
				padding: 2px;
				margin:0;	
				color:white; 
				text-decoration:none; 
				font-size:15px;
				}
.menu_nav { 
			float:right; 
			margin-top:60px;
			margin-right: 0px;
			padding-top:3px;
			border-radius: 10px;
			border: 5px solid #d36293;
			background-color: #edefff;
			height:40px;
			}
.menu_nav ul { list-style:none;
			margin-bottom: 30px;
			height:auto;
			width: 550px;
			}
.menu_nav ul li { 
			margin:0 12px 5px 12px; 
			padding:0px;
			float:left;
			}
.menu_nav ul li a { 
				display:block;				
				padding: 3px;
				margin-left:10px;
				color:#956565; 
				text-decoration:none; 
				font-size:20px;
				}
				
.menu_nav ul li.active a, .menu_nav ul li a:hover { color:#20bac6;}

/* content */
.content_resize { margin:0 auto; padding:24px 0; width:970px;}
.content .mainbar { margin:0; padding:0; float:right; width:670px;}
.content .mainbar img { border:1px solid #d9dcdc;}
.content .mainbar img.fl { margin:4px 16px 4px 0; float:left;}
.content .mainbar .article { margin:0; padding:8px 24px 8px 40px;}
.content .sidebar { padding:0; float:left; width:300px;}
.content .sidebar .gadget { margin:0; padding:8px 16px 8px 40px;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li, ul.ex_menu li { margin:0;}
ul.sb_menu li { padding:4px 0; width:220px;}
ul.ex_menu li { padding:4px 0;}
ul.sb_menu li a, ul.ex_menu li a { color:#959595; text-decoration:none; margin-left:-12px; padding-left:12px;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#20bac6; font-weight:bold; background:url(images/li_a.gif) no-repeat left center;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}
.content p.pages { padding:0 24px 0 40px; font-size:11px; color:#959595; text-align:right;}
.content p.pages span, .content p.pages a:hover { padding:5px 10px; color:#fff; background-color:#20bac6; border:1px solid #20bac6;}
.content p.pages a { padding:5px 10px; color:#959595; background-color:#fff; border:1px solid #edebeb; text-decoration:none;}
.content p.pages small { font-size:11px; float:left;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { background:url(images/fbg_bg.jpg) repeat-x center bottom;}
.fbg_resize { margin:0 auto; width:890px; padding:24px 40px 12px;}
.fbg ul li { padding:4px 0;}
.fbg a { margin:0; padding:2px 4px;}
.fbg ul li a { margin:0; padding:2px 4px; background:none; text-decoration:none;}
.fbg ul li a:hover { text-decoration:underline; font-weight:normal;}
.fbg  h2 { }
.fbg img { padding:3px; border:1px solid #cfd2d4;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:266px;}
.fbg .c2 { padding:0 16px; width:300px;}
.fbg .c3 { padding:0 0 0 16px; width:260px;}

/* footer */
.footer {background-color: black; }
.footer_resize { 
		margin: auto; 
		padding:40px; 
		width:1000px;
		border-radius: 5px;
		background-color: black;
		}
.footer p.lf { 
		margin:0; 
		padding:4px 0; 
		float:right; 
		width:auto; 
		line-height:1.5em; 
		color:#959595;
		}
.footer p.lf a { color:#20bac6;}
ul.fmenu { margin:0; padding:0; list-style:none; float:left; width:auto;}
ul.fmenu li { margin:0; padding:0 16px 0 0; float:left;}
ul.fmenu li a { color:#959595; text-decoration:none;}
ul.fmenu li a:hover, ul.fmenu li.active a { color:#20bac6;}
ul.fmenu li a:hover { text-decoration:underline;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}

/* search */
.searchform { float:left;}
#formsearch { margin:0; height:36px; padding:12px 0 36px 40px;}
#formsearch span { display:block; margin:6px 0; padding:0; float:left; background:#fff url(images/search.gif) no-repeat top left;}
#formsearch input.editbox_search { margin:0; padding:11px 6px 10px; float:left; width:181px; border:none; background:none; font:normal 12px/1.5em Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin:6px 0 0 0; padding:0; border:none; float:left;}

@-webkit-keyframes test {
    0%  {color:black; left:0px; top:0px;}
    25%  {color:#1ab8c5; left:200px; top:0px;}
    50%  {color:yellow; left:200px; top:200px;}
    75%  {color:gray; left:0px; top:200px;}
    100% {color:green; left:0px; top:0px;}
}
@keyframes test {
    0%  {color:black; left:0px; top:0px;}
    25%  {color:#1ab8c5; left:200px; top:0px;}
    50%  {color:yellow; left:200px; top:200px;}
    75%  {color:gray; left:0px; top:200px;}
    100% {color:green; left:0px; top:0px;}
}
				
@-webkit-keyframes example {
    0%  {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:#1ab8c5; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
}
@keyframes example {
    0%  {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:#1ab8c5; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
}
